:root {
    --tridactyl-bg: black;
    --tridactyl-fg: white;
    --tridactyl-scrollbar-color: #131 var(--tridactyl-fg);
    --tridactyl-cmdl-fg: #ffffff;
    --tridactyl-cmdl-bg: #000000;
    --tridactyl-font-family: "Firacode Nerd Font";
}

:root.TridactylOwnNamespace {
    scrollbar-color: var(--tridactyl-scrollbar-color);
    scrollbar-width: thin;
}

:root #completions .sectionHeader {
    display: none;
}

:root #tridactyl-colon::before {
    content: " >> ";
}

:root #completions .focused,
:root #completions .focused .url {
    background: var(--tridactyl-bg);
    text-decoration: underline;
}

:root #cmdline_iframe {
    position: absolute !important;
    bottom: unset;
    top: 0% !important;
    left: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
    opacity: 0.9;
}
